body {
  background: var(--main-theme); /* Uses the main theme for background */
  color: white; /* White text color for contrast */
  overflow-x: hidden !important;
}

/* our-team.css */
.about-team-container {
  background-color: #121212;
  color: #ffffff;
  padding: 2rem;
  text-align: center;
  margin-top: 75px;
}

.team-title {
  margin-top: 20px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.team-description {
  font-size: 1.2rem;
  color: #bdbdbd;
  margin-bottom: 30px;
}

.team-info {
  text-align: left;
  background: #212121;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
}

.team-info p {
  font-size: 1rem;
  line-height: 1.6;
  color: #e0e0e0;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.team-member {
  background: #212121;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s ease-in !important;
}

.team-member:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.2);
}

.team-image {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.team-member-info {
  margin-top: 15px;
}

.team-member-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.team-member-role {
  font-size: 1rem;
  color: #bdbdbd;
}
