.landingPage {
  background: url("/images/car-photos/car-italy.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  height: 100vh; /* Ensure it's full screen */
}

.main-ca {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  gap: 10px;
}

.main-ca a {
  text-decoration: none;
  color: white;
  background-color: var(--button-color);
  font-size: 1.2rem;
  padding: 12px 25px;
  transition: all 0.3s ease-in-out;
  border-radius: 25px;
  margin-top: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.main-ca a:hover {
  background-color: var(--button-hover-color);
  transform: translateY(-5px); /* Smooth hover effect */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.ca-info {
  background-color: rgba(0, 0, 0, 0.55);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  border-radius: 15px;
  text-align: center;
}

.ca-info h1 {
  color: white;
  margin: 15px 0;
}

.home-join-us {
  background-color: var(--main-theme);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

.formula-student-info {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.formula-student-info h5 {
  color: #4c9fe3;
  padding-top: 50px;
}

.formula-student-info h1 {
  padding-top: 30px;
}

.sl {
  border: 2px solid var(--underline-color);
  width: 15%;
  margin-top: 20px;
}

.formula-student-info p {
  padding-top: 30px;
  color: #d3d3d3;
  text-align: center;
  font-size: 1rem;
}

.formula-student-info a {
  border-radius: 25px;
  background-color: var(--button-color);
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

.formula-student-info a:hover {
  background-color: var(--button-hover-color);
  transform: translateY(-5px);
}

.looking {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.looking h1 {
  margin-top: 50px;
  font-size: 1.6rem;
}

.looking-teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
  width: 100%;
}

.team ul {
  list-style-type: none;
  padding-left: 10px;
  width: 140px;
}

.looking a {
  border-radius: 25px;
  background-color: var(--button-color);
  color: white;
  text-decoration: none;
  padding: 12px 25px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 50px;
}

.looking a:hover {
  background-color: var(--button-hover-color);
  transform: translateY(-5px);
}

.sub-section {
  background: url("/images/car-photos/car-photo-b.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
}

.apply-now {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--main-theme);
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.apply-now p {
  color: #d3d3d3;
  font-size: 1rem;
}

.img-team {
  border-radius: 25px;
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.apply-now a {
  border-radius: 25px;
  background-color: var(--button-color);
  color: white;
  text-decoration: none;
  padding: 12px 25px;
  margin-top: 30px;
  transition: all 0.3s ease-in-out;
}

.apply-now a:hover {
  background-color: var(--button-hover-color);
  transform: translateY(-5px);
}

@media only screen and (max-width: 600px) {
  .landingPage {
    background: url("/images/car-photos/car-italy.jpg");
  }

  .main-ca {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
  }

  .main-ca a {
    padding: 12px 20px;
    font-size: 1rem;
  }

  .ca-info {
    background-color: rgba(0, 0, 0, 0.65);
    padding: 30px;
    border-radius: 15px;
  }

  .home-join-us {
    padding: 20px 10px;
  }

  .formula-student-info {
    width: 100%;
    padding: 10px;
  }

  .looking-teams {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .apply-now {
    flex-direction: column;
    padding-top: 20px;
  }

  .apply-info {
    padding-top: 30px;
    text-align: center;
    width: 100%;
  }

  .apply-info p {
    font-size: 1rem;
  }

  .apply-now h1 {
    font-size: 1.5rem;
  }

  .apply-now a {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .sub-section {
    height: 400px;
  }

  .img-team {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3);
  }
}
