body {
  background: var(--main-theme);
  color: white;
}

.main-about {
  padding-top: 110px;
  background-color: var(--main-theme);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-logo {
  min-width: 150px;
  max-width: 350px;
  width: 100%;
  height: auto;
}

.main-about p {
  padding: 20px 10px 0px 10px;
  color: white;
}

.options {
  display: grid;
  width: 100%;
  padding: 50px 10px 10px 10px;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  margin-bottom: 50px;
}

.options a {
  text-decoration: none;
}

.option {
  position: relative;
  height: 450px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.66);
  box-shadow: 0 0 15px rgb(59, 59, 59);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: var(--transition);
}

.option::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent overlay */
  z-index: 1;
  border-radius: 10px;
  transition: background-color ease-in 0.2s;
  backdrop-filter: blur(2px);
}

.option:hover::before {
  background-color: rgba(0, 0, 0, 0.7);
}

.option:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0px 0px 15px rgb(37, 163, 217);
}

/* Ensures text is above the blurred background */
.option h2,
.option p {
  color: white;
  z-index: 2;
}

.option-info p {
  font-size: 14px;
  overflow-x: auto;
  line-height: 20px;
}

.option-info {
  padding-top: 50px;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  z-index: 2;
}

/* Ensures consistent styling of images in each option */
.option-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

.option-title > img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  z-index: 10;
  margin-bottom: 20px;
}

/* Individual backgrounds for each option */
.options a:nth-child(1) .option {
  background-image: url("/images/about-us/car-on-track.jpg");
}

.options a:nth-child(2) .option {
  background-image: url("/images/about-us/car-team.jpg");
}

.options a:nth-child(3) .option {
  background-image: url("/images/about-us/car-testing.jpg");
}

.options a:nth-child(4) .option {
  background-image: url("/images/about-us/join-team.jpg");
}

@media (max-width: 850px) {
  .main-about p {
    text-align: center;
  }
}

@media (max-width: 1135px) {
  .option:hover {
    transform: scale(1.03);
  }
}
