/* Body styling */
body {
  background: var(--main-theme);
  color: white;
  overflow-x: hidden !important;
}

/* General styles */
.formula-student-container {
  margin: 0;
  padding: 0;
  margin-top: 90px;
}

/* Header */
.formula-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1rem 1.5rem 1rem;
}

.formula-header h1 {
  font-size: 3rem;
  font-family: var(--header);
  margin-bottom: 1rem;
}

.formula-header p {
  text-align: center;
  font-size: 1.25rem;
  width: 70%;
}

/* Content Sections */
.formula-content {
  padding: 2rem;
}

.about-section,
.history-section,
.section-topic {
  min-height: 75vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
  padding: 1.5rem;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #232323;
  border-radius: 16px;
  transition: 500ms ease !important;
}

.about-section:hover,
.history-section:hover,
.section-topic:hover {
  box-shadow: 0 0px 25px rgb(24, 92, 194);
}

.info {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
}

.info h2 {
  text-align: center;
}

.about-section img,
.history-section img,
.section-topic img {
  max-width: 650px;
  border-radius: 16px;
}

@media screen and (max-width: 1245px) {
  .about-section,
  .history-section,
  .section-topic {
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .info {
    width: 100%;
  }

  .info p {
    padding: 30px;
  }

  .about-section img,
  .history-section img,
  .section-topic img {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .formula-header h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 700px) {
  .formula-header h1 {
    font-size: 2.25rem;
  }

  .formula-header p {
    font-size: 1.15rem;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .formula-header h1 {
    font-size: 2rem;
  }

  .info p {
    padding: 0px;
  }
}
